{{#hasImports}}
import {
    {{#imports}}
    {{{.}}},
    {{/imports}}
} from './';
{{/hasImports}}

export class {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}}{{#allParents}}{{#-first}} extends {{/-first}}{{{.}}}{{^-last}}, {{/-last}}{{/allParents}} { {{>modelGenericAdditionalProperties}}
{{#vars}}
    {{^modelPropertyNamingOriginal}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{{name}}}?: {{#isEnum}} {{#lambda.RemoveDTO}} {{{datatypeWithEnum}}} {{/lambda.RemoveDTO}} {{/isEnum}}{{^isEnum}} {{#lambda.RemoveDTO}} {{{dataType}}} {{/lambda.RemoveDTO}} {{/isEnum}} | undefined | null;
    {{/modelPropertyNamingOriginal}}
    {{#modelPropertyNamingOriginal}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{#hasSanitizedName}}'{{{baseName}}}'{{/hasSanitizedName}}{{^hasSanitizedName}}{{{name}}}{{/hasSanitizedName}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#isNullable}} | null{{/isNullable}};
    {{/modelPropertyNamingOriginal}}
{{/vars}}
constructor(init: Partial<{{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}}> = {}){
    {{#vars}}
    this.{{baseName}} = {{#lambda.DefaultValue}}{{{dataType}}}{{/lambda.DefaultValue}};
    {{/vars}}
    const keys = (Object.keys(init) as (keyof {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}})[])
    .filter(k => this[k] !== init[k]);
    if(keys.length > 0){
        keys.forEach(k => {
            //@ts-ignore
            this[k] = init[k];
        });
    }
}
}{{>modelGenericEnums}}
