import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { StoreModule } from '@ngrx/store';
import { EffectsModule } from '@ngrx/effects';
{{#allEntities}}
import { {{oEntity}}ReduxModule } from './{{#lambda.KebabCustom}}{{oEntity}}{{/lambda.KebabCustom}}/{{#lambda.KebabCustom}}{{oEntity}}{{/lambda.KebabCustom}}.module';
{{/allEntities}}

@NgModule({
  imports: [
    BrowserModule,
    StoreModule.forRoot({}, {}),
    EffectsModule.forRoot([]),
    {{#allEntities}}
    {{oEntity}}ReduxModule,
    {{/allEntities}}
  ],
})
export class ReduxCoreModule {
    
}
