export {ReduxCoreModule as {{apiName}}ReduxModule} from './redux/core.module';
{{#allEntities}}
export { {{oEntity}}Actions } from './redux/{{#lambda.KebabCustom}}{{oEntity}}{{/lambda.KebabCustom}}/{{#lambda.KebabCustom}}{{oEntity}}{{/lambda.KebabCustom}}.actions';
{{/allEntities}}