import { Action, createReducer, on } from '@ngrx/store';
import { {{entityName}}Actions as Actions } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.actions';
import State from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.state';
import {Pagination} from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/common/pagination.model';
{{#imports}}
import { {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}} } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.model';
{{/imports}}
{{#operations}}
{{#operation}}
import { {{{operationIdOriginal}}}Request } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/services/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.service'; 
{{/operation}}
{{/operations}}
import { HttpHeaders } from '@angular/common/http';

const initialState = {
    {{#operations}}
    {{#operation}}
    {{{operationIdOriginal}}}: {
        firstInit: true,
        hasError: null,
        isLoaded: null,
        errors: [],
        {{#lambda.Skip}}data: {{#isArray}}{currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0, items: []}{{/isArray}}{{^isArray}}null{{/isArray}},{{/lambda.Skip}}
        request: null,
    },
    {{/operation}}
    {{/operations}}
} as State;

const reducer = createReducer<State>(
  initialState,
  {{#operations}}
  {{#operation}}
    on(Actions.{{{operationIdOriginal}}}Init, state => ({...state, {{{operationIdOriginal}}}:{ ...state.{{{operationIdOriginal}}}, firstInit: false, hasError: null, errors: [], isLoaded: null{{#lambda.Skip}}, data: {{#isArray}}{currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0, items: []}{{/isArray}}{{^isArray}}null{{/isArray}}   {{/lambda.Skip}}, request: null} })),
    on(Actions.{{{operationIdOriginal}}}DataInit, state => ({...state, {{{operationIdOriginal}}}:{ ...state.{{{operationIdOriginal}}} {{#lambda.Skip}}, data: {{#isArray}}{currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0, items: []}{{/isArray}}{{^isArray}}null{{/isArray}} {{/lambda.Skip}} } })),
    {{#lambda.Skip}}on(Actions.{{{operationIdOriginal}}}SetData, (state, {data}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, data: data, isLoaded: null, hasError: false, errors: [] }})),{{/lambda.Skip}}
    on(Actions.{{{operationIdOriginal}}}SetError, (state,{errors}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, isLoaded: false, hasError: true{{#lambda.Skip}},errors: errors {{/lambda.Skip}} }})),
    on(Actions.{{{operationIdOriginal}}}Success, (state) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, isLoaded: true, hasError: false, errors: [] }})),
    on(Actions.{{{operationIdOriginal}}}RequestUpdateOneSuccess, (state, {key, value}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, request: {...state.{{{operationIdOriginal}}}.request, [key]: value } }})),
    on(Actions.{{{operationIdOriginal}}}RequestUpdateSuccess, (state, {request}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, request: request }})),
  {{/operation}}
  {{/operations}}
);

export default function currentReducer(
  state: State,
  action: Action
) {
  return reducer(state, action);
}