import { Action, createReducer, on } from '@ngrx/store';
import { {{entityName}}Actions as Actions } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.actions';
import State from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.state';
import {Pagination} from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/common/pagination.model';
{{#imports}}
import { {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}} } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.model';
{{/imports}}
{{#operations}}
{{#operation}}
import { {{{operationIdOriginal}}}Request } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/services/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.service'; 
{{/operation}}
{{/operations}}

const initialState = {
    {{#operations}}
    {{#operation}}
    {{{operationIdOriginal}}}: {
        hasError: false,
        isLoaded: false,
        errors: Array.of<ValidationError>(),
        {{#lambda.Skip}}data: { {{#isArray}}currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0, items: []{{/isArray}} } as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}},{{/lambda.Skip}}
        request: {
          {{#allParams.0}}
          {{#allParams}}
            {{#lambda.RemoveDTO}}{{paramName}}{{/lambda.RemoveDTO}}: {{#lambda.DefaultValue}}{{{dataType}}}{{/lambda.DefaultValue}},
          {{/allParams}}
          {{/allParams.0}}
        } as {{{operationIdOriginal}}}Request,
    },
    {{/operation}}
    {{/operations}}
} as State;

const reducer = createReducer<State>(
  initialState,
  {{#operations}}
  {{#operation}}
    // @ts-ignore
    on(Actions.{{{operationIdOriginal}}}Init, state => ({...state, {{{operationIdOriginal}}}:{ ...state.{{{operationIdOriginal}}}, hasError: false, errors: Array.of<ValidationError>(),  isLoaded: false{{#lambda.Skip}}, data: { {{#isArray}}currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0, items: []{{/isArray}} } as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}} {{/lambda.Skip}}}})),
    {{#lambda.Skip}}on(Actions.{{{operationIdOriginal}}}DataInit, state => ({...state, {{{operationIdOriginal}}}:{ ...state.{{{operationIdOriginal}}}, data: { {{#isArray}}currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0, items: []{{/isArray}} } as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}}}})),{{/lambda.Skip}}
    {{#lambda.Skip}}// @ts-ignore{{/lambda.Skip}}
    {{#lambda.Skip}}on(Actions.{{{operationIdOriginal}}}SetData, (state, {data}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, data: data, isLoaded: true, hasError: false, errors: Array.of<ValidationError>() }})),{{/lambda.Skip}}
    // @ts-ignore
    on(Actions.{{{operationIdOriginal}}}SetError, (state,{errors}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, isLoaded: false, hasError: true{{#lambda.Skip}},errors: errors, data: { {{#isArray}}currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0, items: []{{/isArray}} } as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}} {{/lambda.Skip}} }})),
    // @ts-ignore
    on(Actions.{{{operationIdOriginal}}}Success, (state) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, data: state?.{{{operationIdOriginal}}}?.data, isLoaded: true, hasError: false, errors: Array.of<ValidationError>() }})),
    // @ts-ignore
    on(Actions.{{{operationIdOriginal}}}RequestUpdateOneSuccess, (state, {key, value}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, ...state.{{{operationIdOriginal}}} ,request: {...state.{{{operationIdOriginal}}}.request, [key]:value} }})),
    on(Actions.{{{operationIdOriginal}}}RequestUpdateSuccess, (state, {request}) => ({ ...state, {{{operationIdOriginal}}}: {...state.{{{operationIdOriginal}}}, ...state.{{{operationIdOriginal}}} ,request: request }})),
  {{/operation}}
  {{/operations}}
);

export default function currentReducer(
  state: State,
  action: Action
) {
  return reducer(state, action);
}