{{#imports}}
import { {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}} } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.model';
{{/imports}}
import {Response} from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/common/response.model';
import {StateDetail, StateDetailBase} from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/common/state-detail.model';
import {Pagination} from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/common/pagination.model';

{{#operations}}
{{#operation}}
import { {{{operationIdOriginal}}}Request } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/services/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.service'; 
{{/operation}}
{{/operations}}
import { HttpHeaders } from '@angular/common/http';

export default interface State
{
    {{#operations}}
    {{#operation}}
        {{{operationIdOriginal}}}: {{#lambda.StateDetailBase}}StateDetail<{{#lambda.Result}}{{{returnType}}}{{/lambda.Result}},{{operationIdOriginal}}Request>{{/lambda.StateDetailBase}}
    {{/operation}}
    {{/operations}}
}
