import { createFeatureSelector, createSelector } from '@ngrx/store';
import State from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.state';
export const selectState = createFeatureSelector<State>('{{entityName}}');

{{#operations}}
{{#operation}}
export const select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}Form = createSelector(selectState,s => s.{{{operationIdOriginal}}}.form);
export const select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}Loaded = createSelector(selectState,s => s.{{{operationIdOriginal}}}.isLoaded);
export const select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}HasError = createSelector(selectState,s => s.{{{operationIdOriginal}}}.hasError);
{{#lambda.Skip}}export const select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}Data = createSelector(selectState,s => s.{{{operationIdOriginal}}}.data);{{/lambda.Skip}}
{{/operation}}
{{/operations}}
