import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { StoreModule } from '@ngrx/store';
import { EffectsModule } from '@ngrx/effects';
import Reducer from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.reducer';
import { {{entityName}}Effects } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.effects';
import { {{{entityName}}}Service } from '@api/{{apiName}}/services/{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.service';
import { {{entityName}}Facade } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.facade';
@NgModule({
  imports: [
    CommonModule,
    StoreModule.forFeature('{{#lambda.RemoveDTO}}{{entityName}}{{/lambda.RemoveDTO}}', Reducer),
    EffectsModule.forFeature([{{entityName}}Effects])
  ],
  providers: [{{{entityName}}}Service, {{entityName}}Facade]
})
export class {{#lambda.RemoveDTO}}{{entityName}}{{/lambda.RemoveDTO}}ReduxModule {

}
