import {createAction, props} from '@ngrx/store';
import {Pagination} from '../../models/common/pagination.model';
import {Response} from '../../models/common/response.model'; 
import {NullableFormControl} from '../../models/common/nullable-form-control.model';
import { FormGroup } from '@angular/forms';
{{#imports}}
import { {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}} } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.model';
{{/imports}}
{{#operations}}
{{#operation}}
import { {{{operationIdOriginal}}}Request } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/services/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.service'; 
{{/operation}}
{{/operations}}
import { PageEvent } from '@angular/material/paginator';

export class {{entityName}}Actions {

  static Init = createAction('[{{entityName}}] Init');
  {{#operations}}
  {{#operation}}

  static {{operationIdOriginal}}Init = createAction('[{{entityName}}] {{operationIdOriginal}}Init');
  static {{operationIdOriginal}}Destroy = createAction('[{{entityName}}] {{operationIdOriginal}}Destroy');
  static {{operationIdOriginal}}DataInit = createAction('[{{entityName}}] {{operationIdOriginal}}DataInit');
  static {{operationIdOriginal}}Execute = createAction(
    '[{{entityName}}] {{operationIdOriginal}} Execute'
  );
  {{#lambda.Skip}} static {{operationIdOriginal}}SetData = createAction('[{{entityName}}] {{operationIdOriginal}} SetData', props<{data: {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}} }>()); {{/lambda.Skip}}
  static {{operationIdOriginal}}RequestUpdate = createAction('[{{entityName}}] {{operationIdOriginal}} RequestUpdate', props<{ request: {{operationIdOriginal}}Request }>());
  static {{operationIdOriginal}}RequestUpdateOne = createAction('[{{entityName}}] {{operationIdOriginal}} RequestUpdateOne', props<{ request: {{operationIdOriginal}}Request }>());
  static {{operationIdOriginal}}RequestUpdateOneSuccess = createAction('[{{entityName}}] {{operationIdOriginal}} RequestUpdateOneSuccess', props<{key:string,value:any}>());
  static {{operationIdOriginal}}RequestUpdateSuccess = createAction('[{{entityName}}] {{operationIdOriginal}} RequestUpdateSuccess', props<{request: {{operationIdOriginal}}Request }>());

  static {{operationIdOriginal}}Success = createAction(
    '[{{entityName}}] {{operationIdOriginal}} Success',
  );

  static {{operationIdOriginal}}SetError = createAction(
  '[{{entityName}}] {{operationIdOriginal}} SetError',
  props<{errors: Array<ValidationError>}>
  );
  {{#lambda.UsePage}}
  {{=<% %>=}}
    <% returnType %> 
    static <% operationIdOriginal %>ChangePage = createAction('[<% entityName %>] <% operationIdOriginal %> ChangePage', props<{event: PageEvent }>());
  <%={{ }}=%>
  {{/lambda.UsePage}}
  {{/operation}}
  {{/operations}}
}
