import { Injectable } from '@angular/core';
import { Actions, createEffect, ofType } from '@ngrx/effects';
import { catchError, map, mergeMap, of, switchMap } from 'rxjs';
import { {{entityName}}Service } from '@api/Impecable/services/{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.service';
import { {{entityName}}Actions } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.actions';

@Injectable(
    
)
export default class Effects {
  constructor(
    private actions$: Actions,
    private api: {{{entityName}}}Service
  ) {}

    Init$ = createEffect(() =>
    this.actions$.pipe(
        ofType({{entityName}}Actions.Init),
        mergeMap(() => [
            {{#operations}}
            {{#operation}}
                {{entityName}}Actions.{{{operationIdOriginal}}}Init(),
            {{/operation}}
            {{/operations}}
        ])
    ));

    {{#operations}}
    {{#operation}}
    {{{operationIdOriginal}}}Execute$ = createEffect(() =>
    this.actions$.pipe(
        ofType({{entityName}}Actions.{{{operationIdOriginal}}}Execute),
        switchMap(params =>
            this.api.{{{operationIdOriginal}}}(params).pipe(
                {{#lambda.Skip}}map(data => {{entityName}}Actions.{{{operationIdOriginal}}}SetData({data})),{{/lambda.Skip}}
                catchError(errors =>
                    of({{entityName}}Actions.{{{operationIdOriginal}}}SetError({errors}))
                )
            )
        )
    ));
    {{/operation}}
    {{/operations}}
}
