import { Injectable } from '@angular/core';
import { Store } from '@ngrx/store';
import { Observable, filter } from 'rxjs';

import { {{entityName}}Actions as Actions } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.actions';
import {Pagination} from '../../models/common/pagination.model';
import State from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.state';
import {NullableFormControl} from '../../models/common/nullable-form-control.model';
import { FormGroup } from '@angular/forms';

{{#exports}}
import { {{{exportName}}} } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/services/{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}'; 
{{/exports}}
{{#imports}}
import { {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}} } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.model'; 
{{/imports}}
{{#operations}}
{{#operation}}
import { {{{operationIdOriginal}}}Request } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/services/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.service'; 
{{/operation}}
{{/operations}}
{{#operations}}
{{#operation}}
import { select{{#lambda.pascalcase}}{{operationIdOriginal}}{{/lambda.pascalcase}}Request } from './{{#lambda.KebabCustom}}{{entityName}}{{/lambda.KebabCustom}}.selector';
{{#lambda.Skip}}import { select{{#lambda.pascalcase}}{{operationIdOriginal}}{{/lambda.pascalcase}}Data } from './{{#lambda.KebabCustom}}{{entityName}}{{/lambda.KebabCustom}}.selector';{{/lambda.Skip}}
import { select{{#lambda.pascalcase}}{{operationIdOriginal}}{{/lambda.pascalcase}}HasError } from './{{#lambda.KebabCustom}}{{entityName}}{{/lambda.KebabCustom}}.selector';
import { select{{#lambda.pascalcase}}{{operationIdOriginal}}{{/lambda.pascalcase}}Errors } from './{{#lambda.KebabCustom}}{{entityName}}{{/lambda.KebabCustom}}.selector';
import { select{{#lambda.pascalcase}}{{operationIdOriginal}}{{/lambda.pascalcase}}Loaded } from './{{#lambda.KebabCustom}}{{entityName}}{{/lambda.KebabCustom}}.selector';
{{/operation}}
{{/operations}}
import { PageEvent } from '@angular/material/paginator';

@Injectable()
export class {{entityName}}Facade {
  constructor(private store: Store<{ {{{entityName}}}: State }>) {}
  
  Init(){
    this.store.dispatch(Actions.Init());
  }

  {{#operations}}
  {{#operation}}
  public get {{{operationIdOriginal}}}IsLoaded$(): Observable<boolean> { return this.store.select(select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}Loaded); }
  {{#lambda.Skip}}public get {{{operationIdOriginal}}}$(): Observable<{{#lambda.Result}}{{{returnType}}}{{/lambda.Result}}> { return this.store.select(select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}Data); }{{/lambda.Skip}}
  public get {{{operationIdOriginal}}}HasError$(): Observable<boolean> { return this.store.select(select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}HasError); }
  public get {{{operationIdOriginal}}}Errors$(): Observable<ValidationError[][]> { return this.store.select(select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}Errors); }
  public get {{{operationIdOriginal}}}Request$(): Observable<{{{operationIdOriginal}}}Request> { return this.store.select(select{{#lambda.pascalcase}}{{{operationIdOriginal}}}{{/lambda.pascalcase}}Request).pipe(filter(x => x !== null)); }
  public {{{operationIdOriginal}}}(){
    this.store.dispatch(Actions.{{{operationIdOriginal}}}Execute());
  }
  public {{{operationIdOriginal}}}RequestUpdate(request: Partial<{{{operationIdOriginal}}}Request>){
    this.store.dispatch(Actions.{{{operationIdOriginal}}}RequestUpdate({request}));
  }
  public {{{operationIdOriginal}}}RequestUpdateOne(request: Partial<{{{operationIdOriginal}}}Request>){
    this.store.dispatch(Actions.{{{operationIdOriginal}}}RequestUpdateOne({request}));
  }
  {{#lambda.UsePage}}
  {{=<% %>=}}
  <% returnType %>
  public <% operationIdOriginal %>ChangePage(event: PageEvent) {
    this.store.dispatch(Actions.<% operationIdOriginal %>ChangePage({ event }));
  }
  <%={{ }}=%>
  {{/lambda.UsePage}}
  public {{{operationIdOriginal}}}Init(){
    this.store.dispatch(Actions.{{{operationIdOriginal}}}Init());
  }
  {{/operation}}
  {{/operations}}

}
