import { Injectable } from '@angular/core';
import { Store } from '@ngrx/store';
import { Observable } from 'rxjs';

import { {{entityName}}Actions as Actions } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.actions';
import {Pagination} from '../../models/common/pagination.model';
import State from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.state';


{{#exports}}
import { {{{exportName}}} } from '@api/{{apiName}}/services/{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}'; 
{{/exports}}
{{#imports}}
import { {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}} } from '@api/{{apiName}}/models/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.model'; 
{{/imports}}
{{#operations}}
{{#operation}}
import { {{{operationIdOriginal}}}Request } from '@api/{{apiName}}/services/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.service'; 
{{/operation}}
{{/operations}}

@Injectable()
export class {{entityName}}Facade {
  constructor(private store: Store<{ {{{entityName}}}: State }>) {}

  {{#operations}}
  {{#operation}}
  get {{{operationIdOriginal}}}IsLoaded$(): Observable<boolean> { return this.store.select(state => state.{{{entityName}}}.{{{operationIdOriginal}}}.isLoaded); }
  {{#lambda.Skip}}get {{{operationIdOriginal}}}$(): Observable<{{#lambda.Result}}{{{returnType}}}{{/lambda.Result}}> { return this.store.select(state => state.{{{entityName}}}.{{{operationIdOriginal}}}.data); }{{/lambda.Skip}}
  get {{{operationIdOriginal}}}Error$(): Observable<ValidationError[]> { return this.store.select(state => state.{{{entityName}}}.{{{operationIdOriginal}}}.errors); }
  get {{{operationIdOriginal}}}HasError$(): Observable<boolean> { return this.store.select(state => state.{{{entityName}}}.{{{operationIdOriginal}}}.hasError); }
  {{{operationIdOriginal}}}(data: {{{operationIdOriginal}}}Request){
    this.store.dispatch(Actions.{{{operationIdOriginal}}}Execute(data));
  }
  {{/operation}}
  {{/operations}}

}
