import { Action, createReducer, on } from '@ngrx/store';
import { {{entityName}}Actions as Actions } from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.actions';
import State from './{{#lambda.KebabCustom}}{{{entityName}}}{{/lambda.KebabCustom}}.state';
import {Pagination} from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/common/pagination.model';

{{#imports}}
import { {{#lambda.RemoveDTO}}{{classname}}{{/lambda.RemoveDTO}} } from '@api/{{#lambda.KebabCustom}}{{apiName}}{{/lambda.KebabCustom}}/models/{{#lambda.KebabCustom}}{{classname}}{{/lambda.KebabCustom}}.model';
{{/imports}}

const initialState = {
    {{#operations}}
    {{#operation}}
    {{{operationIdOriginal}}}: {
        hasError: false,
        isLoaded: false,
        errors: Array.of<ValidationError>(),
        {{#lambda.Skip}}data: {{#isArray}} {currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0} as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}} {{/isArray}}{{^isArray}}{} as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}}{{/isArray}}{{/lambda.Skip}}
    },
    {{/operation}}
    {{/operations}}
} as State;

const reducer = createReducer<State>(
  initialState,
  {{#operations}}
  {{#operation}}
    on(Actions.{{{operationIdOriginal}}}Init, state => ({...state, {{{operationIdOriginal}}}:{hasError: false,isLoaded: false,errors: Array.of<ValidationError>(){{#lambda.Skip}}, data: {{#isArray}} {currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0} as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}} {{/isArray}}{{^isArray}}{} as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}}{{/isArray}}{{/lambda.Skip}}}})),
    {{#lambda.Skip}}on(Actions.{{{operationIdOriginal}}}SetData, (state,{data}) => ({ ...state, {{{operationIdOriginal}}}: {data: data, isLoaded: true, hasError: false, errors: [] }})),{{/lambda.Skip}}
    on(Actions.{{{operationIdOriginal}}}SetError, (state,{errors}) => ({ ...state, {{{operationIdOriginal}}}: {errors: errors, isLoaded: false, hasError: true{{#lambda.Skip}}, data: {{#isArray}} {currentPage: 0,totalPages: 0,pageSize: 0,totalCount: 0} as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}} {{/isArray}}{{^isArray}}{} as {{#lambda.Result}}{{{returnType}}}{{/lambda.Result}}{{/isArray}}{{/lambda.Skip}} }})),
  {{/operation}}
  {{/operations}}
);

export default function currentReducer(
  state: State,
  action: Action
) {
  return reducer(state, action);
}